<header class="menu-bar">
  <a href="/">
    <h3 class="page-title">{{ config.title }}</h3>
  </a>

  <span class="dm-icon">
    <i class="fas fa-sun icon"></i>
  </span>

  <div id="menuIcon" class="menu-icon">
    <i class="fas fa-bars icon"></i>
  </div>
</header>
