<main class="container">
  {% if featImg %}
  <section class="banner">
    <img src="{{featImg}}" />
  </section>
  {% endif %}

  <section class="content">
  {{ content | safe }}
  </section>
</main>
