<!-- TWITTER -->
<meta name="twitter:card" content="{{ description }}">
<meta name="twitter:site" content="{{ permalink | url }}">
<meta name="twitter:creator" content="{{ author }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ featuredImg }}">

<!-- FACEBOOK -->
<meta property="og:url" content="{{ permalink | url }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="{{ site.ogType }}">
<meta property="og:image" content="{{ featuredImg | url }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">