<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    {% include "components/sidebar.njk" %}
    {% include "components/header.njk" %}

    <main class="body">
    {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}
  </body>
</html>
