// --------------------This file contains very basic styles.

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  height: 100%;
  width: 100%;
}

a {
  color: $red;
  text-decoration: none;
  transition: all 0.5 ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

img {
  width: 100%;
}

ul {
  margin-left: 4rem;
  margin-top: 1rem;
}

li {
  margin-bottom: 1rem;
  list-style-type: square;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-fonts;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1.5rem;
}

pre,
code {
  font-family: $code-fonts;
}
