---
title: Styleguide!
slug: styleguide
description: Styleguide for the website.
featuredImg: ../img/blackstar-banner.jpg
featuredAlt: Cover
---

<h2>{{ title }}</h2>
<img src="{{ featuredImg }}" alt="{{ featuredAlt }}">
