// --------------------This file contains all application-wide Sass variables.

/// Font Families
$headline-fonts: "Bangers", cursive !default;
$text-fonts: "Open Sans", "Helvetica", "Arial", sans-serif !default;
$code-fonts: "Fira Code", "Courier New", monospace !default;
$link-fonts: "Kaushan Script", cursive !default;

// Breakpoints
$bp-xsmall: "min-width: 57.6rem" !default;
$bp-small: "min-width: 60rem" !default;
$bp-medium: "min-width: 76.8rem" !default;
$bp-large: "min-width: 99.2rem" !default;
$bp-xlarge: "min-width: 120rem" !default;
$bp-xxlarge: "min-width: 140rem" !default;

// Color Names
$white: #ffffff !default;
$black: #090909 !default;
$grey: #191919 !default;
$red: #d32327 !default;
