aside#sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: -1000rem;
  z-index: 99;
  background: $black;

  @include bp(small) {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    width: 30rem;
  }
}

nav {
  margin-top: 3rem;
  font-size: 1.6rem;
  ul {
    margin-inline-start: 2rem;
  }
}

.menuLogo {
  font-size: 1.8rem;
  margin-right: 0;
}

.menuIcon {
  width: 2rem;
  @include bp(medium) {
    display: none;
  }
}

#closeMenu {
  text-align: right;
  display: block;
  margin-right: 2rem;
  &:hover {
    cursor: pointer;
  }
  @include bp(medium) {
    display: none;
  }
}
