---
title: Form
description: This is a Note.
eleventyNavigation:
  key: Form
  parent: Tips & Tricks
tags:
	- tips
---

<h2>{{ title }}</h2>

<p><strong>Current URL:</strong> {{page.url}}</p>

{% include "components/form.njk" %}
